table, td, tr
{
	border: 2px solid grey;
	border-collapse: collapse;
	font-family:  Tahoma, Verdana, sans-serif;
}


.encabezado-tabla
{
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
